[Unit]
Description=K4All - Wait for Default Service Account
Requires=fck8s-node-ready-and-schedulable.service
After=fck8s-node-ready-and-schedulable.service
ConditionPathExists=/etc/kubernetes/admin.conf
ConditionPathExists=!/opt/k4all/default-service-account.done

[Service]
Type=oneshot
ExecStart=/usr/local/bin/wait-default-service-account.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

