[Unit]
Description=K4All - Setup Helm
Requires=network-online.target
Requires=fck8s-setup-proxy.service
After=network-online.target fck8s-setup-proxy.service
ConditionPathExists=!/opt/k4all/helm-setup.done

[Service]
Type=oneshot
ExecStart=/usr/local/bin/setup-helm.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

