[Unit]
Description=K4All - Install NGINX Ingress Controller
Requires=fck8s-node-ready-and-schedulable.service
Requires=fck8s-helm-setup.service
Requires=fck8s-cni-setup.service
After=fck8s-node-ready-and-schedulable.service fck8s-helm-setup.service fck8s-cni-setup.service
ConditionPathExists=/etc/kubernetes/admin.conf
ConditionPathExists=!/opt/k4all/setup-nginx-ingress.done

[Service]
Type=oneshot
ExecStart=/usr/local/bin/setup-nginx-ingress.sh
RemainAfterExit=yes
WorkingDirectory=/root/

[Install]
WantedBy=multi-user.target
