[Unit]
Description=K4All - Install Custom Manifests
Requires=fck8s-wait-default-service-account.service
After=fck8s-wait-default-service-account.service
ConditionPathExists=/etc/kubernetes/admin.conf
ConditionPathExists=!/opt/k4all/custom-manifests-setup.done

[Service]
Type=oneshot
ExecStart=/usr/local/bin/setup-custom-manifests.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

