[Unit]
Description=K4All - Setup Additional Features (Virt/ArgoCD)
Requires=fck8s-node-ready-and-schedulable.service
After=fck8s-node-ready-and-schedulable.service
ConditionPathExists=/etc/kubernetes/admin.conf
ConditionPathExists=!/opt/k4all/features-setup.done

[Service]
Type=oneshot
ExecStart=/usr/local/bin/setup-features.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

