[Unit]
Description=K4All - Setup CertManager
Requires=fck8s-node-ready-and-schedulable.service
Requires=fck8s-helm-setup.service
After=fck8s-node-ready-and-schedulable.service fck8s-helm-setup.service
ConditionPathExists=/etc/kubernetes/admin.conf
ConditionPathExists=!/opt/k4all/certmanager-setup.done

[Service]
Type=oneshot
ExecStart=/usr/local/bin/setup-certmanager.sh
RemainAfterExit=yes
WorkingDirectory=/root/
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target

