[Unit]
Description=K4All - Install Ingress Controller (legacy wrapper)
Requires=fck8s-nginx-setup.service
Requires=fck8s-ingress-routes.service
After=fck8s-nginx-setup.service fck8s-ingress-routes.service
ConditionPathExists=/etc/kubernetes/admin.conf
ConditionPathExists=!/opt/k4all/setup-ingress.done

[Service]
Type=oneshot
ExecStart=/usr/local/bin/setup-ingress.sh
RemainAfterExit=yes
WorkingDirectory=/root/

[Install]
WantedBy=multi-user.target
