[Unit]
Description=K4All - Install Dashboard
Requires=fck8s-node-ready-and-schedulable.service
Requires=fck8s-helm-setup.service
After=fck8s-node-ready-and-schedulable.service fck8s-helm-setup.service
ConditionPathExists=/etc/kubernetes/admin.conf
ConditionPathExists=!/opt/k4all/setup-dashboard.done

[Service]
Type=oneshot
ExecStart=/usr/local/bin/setup-dashboard.sh
RemainAfterExit=yes
WorkingDirectory=/root/

[Install]
WantedBy=multi-user.target

